* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: var(--main-background-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 5px;
}
